<div class="blog-index">
  <a href="{{ site.url }}">Home</a>

  &nbsp;
  {% if include.post.next %}
  <a href="{{ include.post.next.url }}">Newer post</a>
  {% else %}
  <del>Newer post</del>
  {% endif %}

  &nbsp;
  {% if include.post.previous %}
  <a href="{{ include.post.previous.url }}">Older post</a>
  {% else %}
  <del>Older post</del>
  {% endif %}

  &nbsp;
  <a href="{{site.github.repository_url}}/blob/master/{{include.post.path}}">Github link</a>
  &nbsp;
  <a href="http://prose.io/#{{site.repo}}/edit/{{site.branch}}/{{ include.post.path }}">Edit this post</a>


  <h1 class="entry-title">
    {{ include.post.title }}
  </h1>
<div class="entry-content">{{ include.post.content }}</div>
</div>
