
<!doctype html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Test</title>
  </head>
  <body>
    <main class="page-content" aria-label="Content">
      <div class="wrapper">
       <a href="{{ site.url }}">Home</a>
       {% if page.next %}
         <a href="{{ post.next.url }}">, Newer post</a>       
       {% endif %}
       {% if page.previous %}
         <a href="{{ post.previous.url }}">, Older post</a>       
       {% endif %} 
       <br>        
        {{ content }}
      </div>
    </main>
  </body>
</html>
