---
layout: default
published: true
---
<div class="blog-index">  
  {% assign post = page %}
  {% assign content = post.content %}
{% if post.title %}
  <a href="{{ site.url }}">Home</a>
  <br>
  {% if post.next %}
  <a href="{{ post.next.url }}">Newer post</a>
  {% endif %}
  <br>
  
  {% if post.previous %}
  <a href="{{ post.previous.url }}">Older post</a>
  {% endif %}
  <br>
  
  <br>
  {{ page.date | date: "%Y-%m-%d" }}    
  <h1 class="entry-title">
    {{ post.title }}
  </h1>      
{% endif %}
<div class="entry-content">{{ content }}</div>
</div>
